body{
    background-color: lightgrey;
}

.container{
    margin: 100px auto;
}

h1{
    font-size: 5rem;
    font-weight: bold;
}

h4{
    font-size: 1.5rem;
}
.genre{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}